

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Los clásicos de toda la vida</h1>
    <p class="lead">Bienvenido al museo de Volkswagen</p>
  </div>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="assets/imagenes/museo.jpg" class="d-block w-100" alt="museo volkswagen">
      </div>

    </div>
  </div>
  </div>
  <!-- Footer -->
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://www.volkswagen.cl/"> volkswagen.cl</a>
    </div>
    <!-- Copyright -->

  </footer>
