<br>
  <h4 class="card-title text-center">Detalles de orden</h4>
<br>
<div class="container">
  <div class="col-12">
    <ng-container *ngIf="order$ | async as order">
      <ng-container *ngIf="order.items" ; else notFound>
        <div class="card">
          <div class="card-body">

            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <span class="font-weight-bold">Nombre:</span> {{order.shipping.name}}
              </li>
              <li class="list-group-item">
                <span class="font-weight-bold">Fecha de la orden:</span> {{order.datePlaced | date}}
              </li>
              <li class="list-group-item"><span class="font-weight-bold">Orden:</span>
                <div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let item of order.items">
                      {{item.product.title}} x {{item.quantity}} {{item.price | currency:'CLP':'symbol-narrow'}}
                      <div class="float-right">{{item.totalPrice | currency:'CLP':'symbol-narrow'}}</div>
                    </li>
                    <li class="list-group-item">
                        <span class="font-weight-bold">Total: </span>
                        <div class="float-right">{{order.totalSale | currency:'CLP':'symbol-narrow'}}</div>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="list-group-item"><span class="font-weight-bold">Dirección de despacho:</span>
                <div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"> Nombre : {{order.shipping.name}}</li>
                    <li class="list-group-item"> Dirección: {{order.shipping.addressLine1}}</li>
                    <li class="list-group-item"> Dirección 2 : {{order.shipping.addressLine2}}</li>
                    <li class="list-group-item"> Ciudad : {{order.shipping.city}}</li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </ng-container>
      <ng-template #notFound>
        Opps! Details not found.
      </ng-template>
    </ng-container>
  </div>
</div>
