<table class="table">
  <thead>
    <tr>
      <th scope="col">Nº</th>
      <th scope="col">Título</th>
      <th scope="col">Autor</th>
      <th scope="col">Fecha (mm/dd/aa)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{titulo | uppercase }}</td>
      <td>{{autor | lowercase}}</td>
      <td>{{fecha | date:'shortDate' }}  </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>REDUCCIÓN DEL PARQUE AUTOMOTRIZ</td>
      <td>Rogelio Rojas Rojo</td>
      <td>24/05/20</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Fernando Fernández Fernandois</td>
      <td>RUTAS Y RECUERDOS</td>
      <td>02/03/20</td>
    </tr>
  </tbody>
</table>
