<table class="table">
  <thead>
    <tr>
      <th scope="col">Nº</th>
      <th scope="col">Título</th>
      <th scope="col">Autor</th>
      <th scope="col">Fecha (mm/dd/aa)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{titulo | uppercase }}</td>
      <td>{{autor | lowercase}}</td>
      <td>{{fecha | date:'shortDate' }}  </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
