<div class="container">
  <br>
  <h3>Nuevo producto</h3>
  <br>
    <div class="col-12">
        <!-- below line semds data on save in json format -->
        <form #f="ngForm" (ngSubmit)="save(f.value)">
            <div class="form-group">
                <label for="title">Título</label>
                <input #title="ngModel" [(ngModel)]="product.title" name="title" id="title" type="text" class="form-control" required>
                <div class="alert alert-danger" *ngIf="title.touched && title.invalid">
                    El título es obligatorio
                </div>
            </div>
            <div class="form-group">
                <label for="price">Precio</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>
                    <input #price="ngModel"  [(ngModel)]="product.price" name="price" id="price" type="number" class="form-control" required [min]="0">
                </div>
                <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
                    <div *ngIf="price.errors.required">El precio es obligatorio</div>
                    <div *ngIf="price.errors.min">Precio debe ser superior a 0</div>

                </div>
            </div>
            <div class="form-group">
                <label for="category">Categoría</label>
                <select #category="ngModel" [(ngModel)]="product.category" name="category" id="category" class="form-control" required>
                    <option value=""></option>
                    <option *ngFor="let c of categories$ | async" [value]="c.$key">
                        {{ c.name }}
                    </option>
                </select>
                <div class="alert alert-danger" *ngIf="category.touched && category.invalid">
                    La categoría es obligatoria
                </div>
            </div>
            <div class="form-group">
                <label for="imageUrl">Dirección URL de la imagen</label>
                <input #imageUrl="ngModel" [(ngModel)]="product.imageUrl" name="imageUrl" id="imageUrl" type="text" class="form-control" required url>
                <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
                    <div *ngIf="imageUrl.errors.required">La imagen es obligatoria</div>
                    <div *ngIf="imageUrl.errors.url">Introduzca una URL válida</div>
                </div>
            </div>
            <button class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
            <button type="button" (click)="delete()" class="btn btn-danger"><i class="far fa-trash-alt"></i> Eliminar</button>
        </form>
    </div>
    <div class="col-12">
        <product-card [product]="product"></product-card>
    </div>
</div>
