<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Myeshop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Carro de compras</a>
      </li>


    </ul>
          <ul class="navbar-nav ">
              <ng-template #anonymousUser>
                <li class="nav-item">
                  <a class="nav-link" routerLink='/login'>Login</a>
                </li>
              </ng-template>
                <li *ngIf="appUser; else anonymousUser" ngbDropdown class="nav-item dropdown">
                  <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ appUser.name}}
                  </a>
                  <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <a ngbDropdownItem class="dropdown-item" routerLink='/my/orders'>My Orders</a>
                  <ng-container *ngIf="appUser.isAdmin">
                    <a ngbDropdownItem class="dropdown-item" routerLink='/admin/orders'>Manage Orders</a>
                    <a ngbDropdownItem class="dropdown-item" routerLink='/admin/products'>Manage Products</a>
                  </ng-container>
                    <a ngbDropdownItem class="dropdown-item" (click)="logout()">Log Out</a>
                  </div>
      </li>



    </ul>
  </div>
</nav>
